<!DOCTYPE html>
%html lang="en"

%head
    %title << SB Admin 2 - Bootstrap Admin Theme

    %link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet"
    %link href="/static/stylesheets/metisMenu.min.css" rel="stylesheet"
    %link href="/static/stylesheets/sb-admin-2.css" rel="stylesheet"
    %link href="/static/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css"

%body
    %div#wrapper
        {% include 'layouts/_pages_navigation.haml' %}
        %div#page-wrapper style="margin: 0 0 0 250px;"
            %div.container-fluid
                {% block body %}
                {% endblock %}


    <script src="/static/javascripts/jquery.min.js"></script>
    <script src="/static/javascripts/bootstrap.min.js"></script>
    <script src="/static/javascripts/metisMenu.min.js"></script>
    <script src="/static/javascripts/sb-admin-2.js"></script>
    <script src="/static/javascripts/raphael.min.js"></script>
    <script src="/static/javascripts/morris.min.js"></script>
    <script src="/static/javascripts/morris-data.js"></script>

    <!-- Flot Charts JavaScript -->
    <script src="/static/javascripts/excanvas.min.js"></script>
    <script src="/static/javascripts/jquery.flot.js"></script>
    <script src="/static/javascripts/jquery.flot.pie.js"></script>
    <script src="/static/javascripts/jquery.flot.resize.js"></script>
    <script src="/static/javascripts/jquery.flot.time.js"></script>
    <script src="/static/javascripts/jquery.flot.tooltip.min.js"></script>
    <script src="/static/javascripts/flot-data.js"></script>
