;<!DOCTYPE html>
;%html lang="en"
;
;%head
;    %title << SB Admin 2 - Bootstrap Admin Theme
;
;    %link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet"
;    %link href="/static/stylesheets/metisMenu.min.css" rel="stylesheet"
;    %link href="/static/stylesheets/sb-admin-2.css" rel="stylesheet"
;    %link href="/static/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css"
;
;<body>
;
;    <div id="wrapper">
;
;        <!-- Navigation -->
;        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
;            <div class="navbar-header">
;                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
;                    <span class="sr-only">Toggle navigation</span>
;                    <span class="icon-bar"></span>
;                    <span class="icon-bar"></span>
;                    <span class="icon-bar"></span>
;                </button>
;                <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
;            </div>
;            <!-- /.navbar-header -->
;
;            <ul class="nav navbar-top-links navbar-right">
;                <li class="dropdown">
;                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
;                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
;                    </a>
;                    <ul class="dropdown-menu dropdown-messages">
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <strong>John Smith</strong>
;                                    <span class="pull-right text-muted">
;                                        <em>Yesterday</em>
;                                    </span>
;                                </div>
;                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <strong>John Smith</strong>
;                                    <span class="pull-right text-muted">
;                                        <em>Yesterday</em>
;                                    </span>
;                                </div>
;                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <strong>John Smith</strong>
;                                    <span class="pull-right text-muted">
;                                        <em>Yesterday</em>
;                                    </span>
;                                </div>
;                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a class="text-center" href="#">
;                                <strong>Read All Messages</strong>
;                                <i class="fa fa-angle-right"></i>
;                            </a>
;                        </li>
;                    </ul>
;                    <!-- /.dropdown-messages -->
;                </li>
;                <!-- /.dropdown -->
;                <li class="dropdown">
;                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
;                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
;                    </a>
;                    <ul class="dropdown-menu dropdown-tasks">
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <p>
;                                        <strong>Task 1</strong>
;                                        <span class="pull-right text-muted">40% Complete</span>
;                                    </p>
;                                    <div class="progress progress-striped active">
;                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" ;aria-valuemin="0" aria-valuemax="100" style="width: 40%">
;                                            <span class="sr-only">40% Complete (success)</span>
;                                        </div>
;                                    </div>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <p>
;                                        <strong>Task 2</strong>
;                                        <span class="pull-right text-muted">20% Complete</span>
;                                    </p>
;                                    <div class="progress progress-striped active">
;                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" ;aria-valuemin="0" aria-valuemax="100" style="width: 20%">
;                                            <span class="sr-only">20% Complete</span>
;                                        </div>
;                                    </div>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <p>
;                                        <strong>Task 3</strong>
;                                        <span class="pull-right text-muted">60% Complete</span>
;                                    </p>
;                                    <div class="progress progress-striped active">
;                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" ;aria-valuemin="0" aria-valuemax="100" style="width: 60%">
;                                            <span class="sr-only">60% Complete (warning)</span>
;                                        </div>
;                                    </div>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <p>
;                                        <strong>Task 4</strong>
;                                        <span class="pull-right text-muted">80% Complete</span>
;                                    </p>
;                                    <div class="progress progress-striped active">
;                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" ;aria-valuemin="0" aria-valuemax="100" style="width: 80%">
;                                            <span class="sr-only">80% Complete (danger)</span>
;                                        </div>
;                                    </div>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a class="text-center" href="#">
;                                <strong>See All Tasks</strong>
;                                <i class="fa fa-angle-right"></i>
;                            </a>
;                        </li>
;                    </ul>
;                    <!-- /.dropdown-tasks -->
;                </li>
;                <!-- /.dropdown -->
;                <li class="dropdown">
;                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
;                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
;                    </a>
;                    <ul class="dropdown-menu dropdown-alerts">
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <i class="fa fa-comment fa-fw"></i> New Comment
;                                    <span class="pull-right text-muted small">4 minutes ago</span>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
;                                    <span class="pull-right text-muted small">12 minutes ago</span>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
;                                    <span class="pull-right text-muted small">4 minutes ago</span>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <i class="fa fa-tasks fa-fw"></i> New Task
;                                    <span class="pull-right text-muted small">4 minutes ago</span>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
;                                    <span class="pull-right text-muted small">4 minutes ago</span>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a class="text-center" href="#">
;                                <strong>See All Alerts</strong>
;                                <i class="fa fa-angle-right"></i>
;                            </a>
;                        </li>
;                    </ul>
;                    <!-- /.dropdown-alerts -->
;                </li>
;                <!-- /.dropdown -->
;                <li class="dropdown">
;                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
;                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
;                    </a>
;                    <ul class="dropdown-menu dropdown-user">
;                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
;                        </li>
;                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
;                        </li>
;                        <li class="divider"></li>
;                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
;                        </li>
;                    </ul>
;                    <!-- /.dropdown-user -->
;                </li>
;                <!-- /.dropdown -->
;            </ul>
;            <!-- /.navbar-top-links -->
;
;            <div class="navbar-default sidebar" role="navigation">
;                <div class="sidebar-nav navbar-collapse">
;                    <ul class="nav" id="side-menu">
;                        <li class="sidebar-search">
;                            <div class="input-group custom-search-form">
;                                <input type="text" class="form-control" placeholder="Search...">
;                                <span class="input-group-btn">
;                                <button class="btn btn-default" type="button">
;                                    <i class="fa fa-search"></i>
;                                </button>
;                            </span>
;                            </div>
;                            <!-- /input-group -->
;                        </li>
;                        <li>
;                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
;                        </li>
;                        <li>
;                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
;                            <ul class="nav nav-second-level">
;                                <li>
;                                    <a href="flot.html">Flot Charts</a>
;                                </li>
;                                <li>
;                                    <a href="morris.html">Morris.js Charts</a>
;                                </li>
;                            </ul>
;                            <!-- /.nav-second-level -->
;                        </li>
;                        <li>
;                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
;                        </li>
;                        <li>
;                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
;                        </li>
;                        <li>
;                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
;                            <ul class="nav nav-second-level">
;                                <li>
;                                    <a href="panels-wells.html">Panels and Wells</a>
;                                </li>
;                                <li>
;                                    <a href="buttons.html">Buttons</a>
;                                </li>
;                                <li>
;                                    <a href="notifications.html">Notifications</a>
;                                </li>
;                                <li>
;                                    <a href="typography.html">Typography</a>
;                                </li>
;                                <li>
;                                    <a href="icons.html"> Icons</a>
;                                </li>
;                                <li>
;                                    <a href="grid.html">Grid</a>
;                                </li>
;                            </ul>
;                            <!-- /.nav-second-level -->
;                        </li>
;                        <li>
;                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></;a>
;                            <ul class="nav nav-second-level">
;                                <li>
;                                    <a href="#">Second Level Item</a>
;                                </li>
;                                <li>
;                                    <a href="#">Second Level Item</a>
;                                </li>
;                                <li>
;                                    <a href="#">Third Level <span class="fa arrow"></span></a>
;                                    <ul class="nav nav-third-level">
;                                        <li>
;                                            <a href="#">Third Level Item</a>
;                                        </li>
;                                        <li>
;                                            <a href="#">Third Level Item</a>
;                                        </li>
;                                        <li>
;                                            <a href="#">Third Level Item</a>
;                                        </li>
;                                        <li>
;                                            <a href="#">Third Level Item</a>
;                                        </li>
;                                    </ul>
;                                    <!-- /.nav-third-level -->
;                                </li>
;                            </ul>
;                            <!-- /.nav-second-level -->
;                        </li>
;                        <li>
;                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
;                            <ul class="nav nav-second-level">
;                                <li>
;                                    <a href="blank.html">Blank Page</a>
;                                </li>
;                                <li>
;                                    <a href="login.html">Login Page</a>
;                                </li>
;                            </ul>
;                            <!-- /.nav-second-level -->
;                        </li>
;                    </ul>
;                </div>
;                <!-- /.sidebar-collapse -->
;            </div>
;            <!-- /.navbar-static-side -->
;        </nav>
;    <div id="page-wrapper">

{% extends "layouts/pages.haml" %}
{% block body %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Forms</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Basic Form Elements
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Text Input</label>
                                            <input class="form-control">
                                            <p class="help-block">Example block-level help text here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Text Input with Placeholder</label>
                                            <input class="form-control" placeholder="Enter text">
                                        </div>
                                        <div class="form-group">
                                            <label>Static Control</label>
                                            <p class="form-control-static">email@example.com</p>
                                        </div>
                                        <div class="form-group">
                                            <label>File input</label>
                                            <input type="file">
                                        </div>
                                        <div class="form-group">
                                            <label>Text area</label>
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Checkboxes</label>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">Checkbox 1
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">Checkbox 2
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">Checkbox 3
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Inline Checkboxes</label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">1
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">2
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">3
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>Radio Buttons</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Radio 1
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio 2
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Radio 3
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Inline Radio Buttons</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>1
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>Selects</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Multiple Selects</label>
                                            <select multiple class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit Button</button>
                                        <button type="reset" class="btn btn-default">Reset Button</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-6">
                                    <h1>Disabled Form States</h1>
                                    <form role="form">
                                        <fieldset disabled>
                                            <div class="form-group">
                                                <label for="disabledSelect">Disabled input</label>
                                                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="disabledSelect">Disabled select menu</label>
                                                <select id="disabledSelect" class="form-control">
                                                    <option>Disabled select</option>
                                                </select>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">Disabled Checkbox
                                                </label>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Disabled Button</button>
                                        </fieldset>
                                    </form>
                                    <h1>Form Validation States</h1>
                                    <form role="form">
                                        <div class="form-group has-success">
                                            <label class="control-label" for="inputSuccess">Input with success</label>
                                            <input type="text" class="form-control" id="inputSuccess">
                                        </div>
                                        <div class="form-group has-warning">
                                            <label class="control-label" for="inputWarning">Input with warning</label>
                                            <input type="text" class="form-control" id="inputWarning">
                                        </div>
                                        <div class="form-group has-error">
                                            <label class="control-label" for="inputError">Input with error</label>
                                            <input type="text" class="form-control" id="inputError">
                                        </div>
                                    </form>
                                    <h1>Input Groups</h1>
                                    <form role="form">
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">@</span>
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div>
                                        <div class="form-group input-group">
                                            <input type="text" class="form-control">
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                        <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-eur"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Font Awesome Icon">
                                        </div>
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control">
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                        <div class="form-group input-group">
                                            <input type="text" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

{% endblock %}

;        </div>
;        <!-- /#page-wrapper -->
;
;    </div>
;    <!-- /#wrapper -->
;
;    <!-- jQuery -->
;    <script src="/static/javascripts/jquery.min.js"></script>
;
;    <!-- Bootstrap Core JavaScript -->
;    <script src="/static/javascripts/bootstrap.min.js"></script>
;
;    <!-- Metis Menu Plugin JavaScript -->
;    <script src="./static/javascripts/metisMenu.min.js"></script>
;
;    <!-- Custom Theme JavaScript -->
;    <script src="/static/javascripts/sb-admin-2.js"></script>
;
;</body>
;
;</html>
